PORT=4000
LOG_LEVEL=info
ROCKET_CHAT_URL=http://localhost:3000
ROCKET_CHAT_USER_ID=rocket-chat-user-id
ROCKET_CHAT_AUTH_TOKEN=rocket-chat-auth-token
NATS_URL=nats://localhost:4222
NATS_PREFIX=notifications
DELIVERY_RETRY_ATTEMPTS=3
DELIVERY_RETRY_DELAY_MS=500
